<div class="col-12 col-md-12 p-2">
    <div class="m-2 mat-elevation-z1">
        <div class="col-12 d-flex">
            <div class="col-6 col-md-6 d-flex justify-content-center">
                <h2>Food Menu</h2>
            </div>
            <div class="col-6 col-md-6 d-flex justify-content-center">
                <h2>Cheff List</h2>
            </div>
        </div>
        <div class="col-12 d-flex">
            <div class="col-6 col-md-6 d-flex justify-content-center">
                <h2>Today's Special</h2>
            </div>
            <div class="col-6 col-md-6 d-flex justify-content-center">
                <h2>Top Ratings</h2>
            </div>
        </div>
    </div>
</div>