<div class="col-12 d-flex justify-content-center">
    <div class="container pt-3 pb-3">




        <div class="p-0 m-0 col-12 p-2">
            <mat-expansion-panel style="border-left: solid 3px lightgrey;" *ngFor="let loop of foodList; let i = index">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: large; font-weight: 500;"> {{loop['mainTitle']}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="col-12 row p-0 m-0">
                    <div class="col-md-3 col-sm-12 p-0 row">
                        <img src="" class="p-3" style="width: 250px; height: 250px;">
                    </div>

                    <div class="col-9 row m-0">
                        <div class="col-12 row justify-content-arround">
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <!--CAKE-->
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">{{loop['itemList'][i][0]['subTitle']}}</h3>
                                    <ol>
                                        <li *ngFor="let loopItems of foodItemList; ">{{loopItems[i]['items']}}</li>
                                    </ol>
                                </div>
                                <div>
                                    <!--CORN-->
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1"></h3>
                                    <ol>
                                        <li></li>
                                    </ol>
                                </div>
                                <div>
                                    <!--ROLLS AND PUFFS-->
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1"></h3>
                                    <ol>
                                        <!--ROLLS-->
                                        <!--PUFFS-->
                                        <li style="font-weight: bold;"></li>
                                        <ol>
                                            <li></li>
                                        </ol>
                                    </ol>
                                </div>
                                <div>
                                    <!--FRIES-->
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1"></h3>
                                    <ol>
                                        <li></li>
                                    </ol>
                                </div>
                                <div>
                                    <!--COOKIES-->
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1"></h3>
                                    <ol>
                                        <li></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>




        <!-- <div class="p-0 m-0 col-12 p-2">
            <mat-expansion-panel style="border-left: solid 3px lightgrey;">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: large; font-weight: 500;">
                        Small Snacks
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-12 row p-0 m-0">
                    <div class="col-md-3 col-sm-12 p-0 row">
                        <img src="/assets/starter.jpeg" class="p-3" style="width: 250px; height: 250px;">
                    </div>

                    <div class="col-9 row m-0">
                        <div class="col-12 row justify-content-arround">
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Cakes</h3>
                                    <ol>
                                        <li>Cup Cakes</li>
                                        <li>Ice Cakes</li>
                                        <li>Black Forest</li>
                                        <li>White Forest</li>
                                        <li>Butterscotch Mix</li>
                                        <li>Vannila</li>
                                        <li>Strawberry</li>
                                        <li>Chocolate</li>
                                    </ol>
                                </div>
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Rolls and
                                        Puffs</h3>
                                    <ol>
                                        <li style="font-weight: bold;">Rolls</li>
                                        <ol>
                                            <li>Veg. Roll</li>
                                            <li>Chicken Roll</li>
                                            <li>Mushroom Roll</li>
                                            <li>Schezwan Roll</li>
                                        </ol>
                                        <li style="font-weight: bold;">Puffs</li>
                                        <ol>
                                            <li>Veg. Puffs</li>
                                            <li>Chicken Puffs</li>
                                            <li>Egg Puffs</li>
                                            <li>Mushroom Puffs</li>
                                        </ol>
                                    </ol>
                                </div>
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Fries</h3>
                                    <ol>
                                        <li>French Fries</li>
                                        <li>Italian French Fries</li>
                                        <li>Salty French Fries</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Cookiees</h3>
                                    <ol>
                                        <li>Cashew nut Cookies</li>
                                        <li>Wall nut Cookies</li>
                                        <li>Butter Cookies</li>
                                        <li>Pepper Cookies</li>
                                        <li>Cheese Cookies</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="p-0 m-0 col-12 p-2">
            <mat-expansion-panel style="border-left: solid 3px lightgrey">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: large; font-weight: 500;">
                        Dry Foods
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-12 row p-0 m-0">
                    <div class="col-md-3 col-sm-12 p-0 row">
                        <img src="/assets/dry.jpeg" class="p-3" style="width: 250px; height: 250px;">
                    </div>
                    <div class="col-9 row m-0">
                        <div class="col-12 row justify-content-arround">
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="p-0 m-0 col-12 p-2">
            <mat-expansion-panel style="border-left: solid 3px lightgrey">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: large; font-weight: 500;">
                        Fried and Fast Foods
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-12 row p-0 m-0">
                    <div class="col-md-3 col-sm-12 p-0 row">
                        <img src="/assets/fried.png" class="p-3" style="width: 250px; height: 250px;">
                    </div>
                    <div class="col-9 row m-0">
                        <div class="col-12 row justify-content-arround">
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="p-0 m-0 col-12 p-2">
            <mat-expansion-panel style="border-left: solid 3px lightgrey">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: large; font-weight: 500;">
                        Rice and Curry
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-12 row p-0 m-0">
                    <div class="col-md-3 col-sm-12 p-0 row">
                        <img src="/assets/rice.jpg" class="p-3" style="width: 250px; height: 250px;">
                    </div>
                    <div class="col-9 row m-0">
                        <div class="col-12 row justify-content-arround">
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="p-0 m-0 col-12 p-2">
            <mat-expansion-panel style="border-left: solid 3px lightgrey">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: large; font-weight: 500;">
                        Sandwich
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-12 row p-0 m-0">
                    <div class="col-md-3 col-sm-12 p-0 row">
                        <img src="/assets/sandwich.jpg" class="p-3" style="width: 250px; height: 250px;">
                    </div>
                    <div class="col-9 row m-0">
                        <div class="col-12 row justify-content-arround">
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="p-0 m-0 col-12 p-2">
            <mat-expansion-panel style="border-left: solid 3px lightgrey">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: large; font-weight: 500;">
                        Pizza
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-12 row p-0 m-0">
                    <div class="col-md-3 col-sm-12 p-0 row">
                        <img src="/assets/pizza.jpg" class="p-3" style="width: 250px; height: 250px;">
                    </div>
                    <div class="col-9 row m-0">
                        <div class="col-12 row justify-content-arround">
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="p-0 m-0 col-12 p-2">
            <mat-expansion-panel style="border-left: solid 3px lightgrey">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: large; font-weight: 500;">
                        Burger
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-12 row p-0 m-0">
                    <div class="col-md-3 col-sm-12 p-0 row">
                        <img src="/assets/burger.jpg" class="p-3" style="width: 250px; height: 250px;">
                    </div>
                    <div class="col-9 row m-0">
                        <div class="col-12 row justify-content-arround">
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>

        <div class="p-0 m-0 col-12 p-2">
            <mat-expansion-panel style="border-left: solid 3px lightgrey">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: large; font-weight: 500;">
                        Beverages
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-12 row p-0 m-0">
                    <div class="col-md-3 col-sm-12 p-0 row">
                        <img src="/assets/beverages.jpeg" class="p-3" style="width: 250px; height: 250px;">
                    </div>
                    <div class="col-9 row m-0">
                        <div class="col-12 row justify-content-arround">
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        Corn</h3>
                                    <ol>
                                        <li>Sweet Corn</li>
                                        <li>Pepper Corn</li>
                                        <li>Masala Corn</li>
                                        <li>Chocolate Corn</li>
                                        <li>Schezwan Corn</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="p-0 m-0 col-12 p-2">
            <mat-expansion-panel style="border-left: solid 3px lightgrey">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: large; font-weight: 500;">
                        Customer Reciepes
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-12 row p-0 m-0">
                    <div class="col-md-3 col-sm-12 p-0 row">
                        <img src="/assets/customer_Reciepes.jpg" class="p-3" style="width: 250px; height: 250px;">
                    </div>
                    <div class="col-9 row m-0">
                        <div class="col-12 row justify-content-arround">
                            <div class="col-12 col-md-4 p-0" style="border-left: 0.2px solid grey;">
                                <div>
                                    <h3 style="font-weight: bold; text-decoration: underline;" class="m-1">
                                        TYPE OF 
                                        RECIEPE</h3>
                                    <h4 class="m-1"> <span style="color: grey">Reciepe By :</span>
                                        Customer Name</h4>
                                    <ol>
                                        <li>FOOD NAME</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
</div> -->