<!-- <div class="col-12 p-0 m-0">
    <mat-toolbar>
        <div class="col-8">
            <button mat-icon-button (click)="opened = !opened">
                <mat-icon>menu</mat-icon>
            </button>
            <span style="vertical-align: middle;">Food Court</span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
        </div>

        <div class="col-4">
            <div class="d-flex justify-content-end">
                <button mat-icon-button aria-label="Example icon-button with share icon">
                    <mat-icon>dashboard</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
</div> -->